# ----------------------------
# http server example
# ----------------------------
HOST=localhost
PORT=8080
ALLOW_CROSS_ORIGIN=true

# ----------------------------
# SPSP instance id
# ----------------------------
SPSP_INSTANCE_ID=

# ----------------------------
# Connection Tag Key
# ----------------------------
CONNECTION_TAG_KEY=

# ----------------------------
# Payment Tag Key
# ----------------------------
PAYMENT_TAG_KEY=

# ----------------------------
# Proof Key
# ----------------------------
PROOF_KEY=

# ----------------------------
# example web-monetize-id
# ----------------------------
EXAMPLE_PAYMENT_POINTER='YOUR PAYMENT POINTER'
EXAMPLE_PAYMENT_ID='Generated with UUID v4'

# ----------------------------
# WebMonetizeStore
# ----------------------------
# Enable this when not using redis
# WEB_MONETIZE_STORE='WebMonetizeMemoryStore'

# Enable this when using redis
WEB_MONETIZE_STORE='WebMonetizeRedisStore'

# ----------------------------
# WebPaymentStore
# ----------------------------
# Enable this when not using redis
# WEB_PAYOUT_STORE='WebPayoutMemoryStore'

# Enable this when using redis
WEB_PAYOUT_STORE='WebPayoutRedisStore'

# ----------------------------
# Redis
# ----------------------------
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=
